WALLET_PRIVATE_KEY=
RPC_URL=
#GMGN_API_KEY=gmgn_bb0704281963691201a6db519999c320
HELIUS_API_KEY=
OLLAMA_API_KEY=
LLM_BASE_URL=
LLM_MODEL=
DRY_RUN=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_ALLOWED_USER_IDS=
JUPITER_API_KEY=
PUBLIC_API_KEY=